@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --clr-primary--100: hsl(0, 36%, 70%);
  --clr-primary--300: hsl(0, 93%, 68%);
  --clr-primary--500: hsl(198, 62%, 26%);
  --clr-neutral--900: hsl(0, 6%, 24%);
  --clr-accent--300: #3ebfff;
  --clr-accent--500: #fad400;
  --lg-1: linear-gradient(90deg, #ffffff 0%, #fff5f5 50%);
  --lg-1: linear-gradient(90deg, #f8bfbf 0%, #ee8c8c 50%);
  --ff-primary: 'Josefin Sans', sans-serif;
  --br: 1.7em;
  --br-elements: 0.8em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/*------ Body Styling------*/
body {
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral--900);
  font-family: var(--ff-primary);
  font-size: 16px;
  background-color: #ffffff;
}

.card__container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  height: 100vh;
}

/*------ Content Container ------*/
.container1 {
  background-color: #ffffff;
  background-image: url('../images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: top/left;
  background-size: cover;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  /* width: 40%; */
  /* padding: 5rem 5rem; */
  /* margin: auto 0; */
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr 2fr;
  grid-template-columns: 1fr 2.2fr 1.5fr;
  /* gap: 3rem; */
  /* justify-content: center; */
}

.content__logo {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
}

.content__incentive {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
  justify-self: start;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1.5rem;
  max-width: 30rem;
  margin-top: 4rem;
}

.content__incentive--accent {
  font-weight: 300;
  color: var(--clr-primary--100);
  display: block;
}

.content__paragraph {
  align-self: center;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  color: var(--clr-primary--100);
  line-height: 2rem;
}

.content__email {
  grid-row: 4/5;
  grid-column: 2/3;
}

/*------ Image Container ------*/
.container2 {
  background-color: #ffffff;
  background-image: url('../images/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center/center;
  background-size: cover;
}