@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --clr-primary--100: hsl(0, 36%, 70%);
  --clr-primary--300: hsl(0, 93%, 68%);
  --clr-primary--500: hsl(198, 62%, 26%);
  --clr-neutral--900: hsl(0, 6%, 24%);
  --lg-1: linear-gradient(90deg, #fdcbcb 0%, #fdc4c4 50%);
  --lg-2: linear-gradient(90deg, #f8bfbf 0%, #f09a9a 50%);
  --ff-primary: 'Josefin Sans', sans-serif;
  --br: 2.4em;
  --br-elements: 0.8em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/*------ Body Styling------*/
body {
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral--900);
  font-family: var(--ff-primary);
  font-size: 16px;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url('../images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: top/left;
  background-size: cover;
}

.card__container {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 1fr 3.7fr;
  height: 100vh;
}

.content__logo {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  justify-self: start;
  margin: 2em 12vw;
}

/*------ Content Container ------*/
.container1 {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 2.3fr 1fr 2fr;
  grid-template-columns: 1fr 2.2fr 1.5fr;
}


.content__incentive {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
  justify-self: start;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: 1.5rem;
  max-width: 30rem;
  margin-top: 4rem;
}

.content__incentive--accent {
  font-weight: 300;
  color: var(--clr-primary--100);
  display: block;
}

.content__paragraph {
  align-self: center;
  justify-self: center;
  grid-row: 2/3;
  grid-column: 2/3;
  color: var(--clr-primary--100);
  line-height: 2rem;
}

.form {
  grid-row: 3/4;
  grid-column: 2/3;
  position: relative;
}

input {
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: var(--br);
  color: var(--clr-primary--100);
  border: 1px solid var(--clr-primary--100);
  background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--clr-primary--100);
  font-weight: 300;
}

input:placeholder-shown {
  color: var(--clr-primary--100);
  font-weight: 300;
}

input:not(:placeholder-shown) {
  color: var(--clr-neutral--900);
  font-weight: 600;
}

input:focus {
  outline: none;
}

/* Input Error */
.form.email__error input {
  border: 2px solid var(--clr-primary--300);
}

/* Icon Error */
.image__error {
  position: absolute;
  top: 0.9rem;
  right: 7.5rem;
  display: none;
}

.form.email__error .image__error {
  display: block;
}

.form .btn {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 1.125rem 2.9rem;
  border-radius: var(--br);
  background: var(--lg-2);
  border: none;
}

.btn:hover {
  background: var(--lg-1);
}

/* Message Error */
.error__message {
  color: var(--clr-primary--100);
  margin: 1rem 1.7rem;
  display: none;
}

form.email__error .error__message {
  display: block;
}

.thanks__message {
  color: var(--clr-primary--100);
  margin: 1rem 1.7rem;
  display: none;
}

.form.validated .thanks__message {
  display: block;
}


/*------ Image Container ------*/
.container2 {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: transparent;
  background-image: url('../images/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* ----- Foooter ----- */
.footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.attribution a {
  color: hsl(228, 82%, 29%);
}

/* attribution */

@media screen and (max-width: 1500px) {
  .content__logo {
    margin: 2em 10vw;
  }
}


@media screen and (max-width: 1140px) {
  .content__logo {
    margin: 2em 8vw;
  }
}

@media screen and (max-width: 1050px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1.7fr;
    height: unset;
    min-height: 100vh;
  }

  .content__logo {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: start;
    margin: 2em 12vw;
  }

  /*------ Content Container ------*/
  .container1 {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content__incentive {
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .content__paragraph {
    text-align: center;
    max-width: 60%;
    margin: 2rem 0 3rem 0;
  }

  .form {
    max-width: 60%;
    width: 100%;
  }

  .container2 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url('../images/hero-mobile.jpg');
    background-position: top;
  }

  .photo__holder {
    background-color: blueviolet;
  }

  .footer {
    all: unset;
    display: flex;
    flex-direction: column;
  }

  .attribution {
    font-size: 0.9rem;
    color: var(--clr-neutral--900);
  }
}


@media screen and (max-width: 650px) {

  .content__paragraph {
    text-align: center;
    max-width: 80%;
  }

  .form {
    max-width: 80%;
    width: 100%;
  }
}


@media screen and (max-width: 500px) {

  .content__incentive {
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: 0.5rem;
  }

  .attribution {
    font-size: 0.9rem;
  }
}